APP_NAME=CeroHuella IA API
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/cerohuella
GOOGLE_CLOUD_PROJECT_ID=luis-prueba2
GOOGLE_APPLICATION_CREDENTIALS_JSON=
GOOGLE_APPLICATION_CREDENTIALS_PATH=/tmp/google-application-credentials.json
STORAGE_ROOT=storage
MAX_FILE_SIZE_MB=25
MAX_BATCH_FILES=10
